#canvas-container {
    min-width: 640px;
    min-height: 480px;
    width: 800px;
    height: auto;
    position: relative;
    margin: 0 auto;
}

#header {
    margin-left: 15px;
}

#sb-video {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
}

#sb-canvas {
    z-index: 1000;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 0px;
    left: 0px;
}

#sb-message {
    visibility: hidden;
    z-index: 10000;
}

