#canvas-container {
    min-width: 640px;
    min-height: 480px;
    position: relative;
    display: none;
}

#header {
    margin-left: 15px;
}

#sb-video {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

#sb-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

#sb-message {
    visibility: hidden;
    z-index: 10000;
}

.btn {
    margin-right: 10px;
}
